@font-face {
    font-family: 'Satoshi-Light';
    src: url('fonts/Satoshi-Light.woff2') format('woff2'),
         url('fonts/Satoshi-Light.woff') format('woff'),
         url('fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('fonts/Satoshi-LightItalic.woff2') format('woff2'),
         url('fonts/Satoshi-LightItalic.woff') format('woff'),
         url('fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('fonts/Satoshi-Regular.woff2') format('woff2'),
         url('fonts/Satoshi-Regular.woff') format('woff'),
         url('fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Italic';
    src: url('fonts/Satoshi-Italic.woff2') format('woff2'),
         url('fonts/Satoshi-Italic.woff') format('woff'),
         url('fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('fonts/Satoshi-Medium.woff2') format('woff2'),
         url('fonts/Satoshi-Medium.woff') format('woff'),
         url('fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('fonts/Satoshi-Bold.woff2') format('woff2'),
         url('fonts/Satoshi-Bold.woff') format('woff'),
         url('fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi-Black';
    src: url('fonts/Satoshi-Black.woff2') format('woff2'),
         url('fonts/Satoshi-Black.woff') format('woff'),
         url('fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('fonts/Satoshi-BlackItalic.woff2') format('woff2'),
         url('fonts/Satoshi-BlackItalic.woff') format('woff'),
         url('fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
         url('fonts/Satoshi-Variable.woff') format('woff'),
         url('fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  /**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 900.0;
  *
  * available axes:
  'wght' (range from 300.0 to 900.0
  */
  @font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('fonts/Satoshi-VariableItalic.woff2') format('woff2'),
         url('fonts/Satoshi-VariableItalic.woff') format('woff'),
         url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }

  @font-face {
    font-family: 'Angel-rhapsody';
    src: url('fonts/Angel-rhapsody.otf') format('otf'),
         url('fonts/Angel-rhapsody.ttf') format('truetype');
     font-weight: 200 700;
     font-display: swap;
     font-style: normal;
  }



body {
    font-family: 'Satoshi-Bold';
    font-size: 11px;
    background-color: #000000;
    margin: 0;
    color: #FFF4EB;
}

h1, h2 {
    font-family: 'Angel-rhapsody';
    color: #FFF4EB;
    font-size: 67px;
  }


  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


.section {
    background: url(images/background.png);
    height: 821px;
}

.container {
    /* height: 821px; */
    width: 910px;
    margin: 0 auto;
}

.intro {

}

.nav {
    width: 910px;
    height: 62px;
    border-radius: 19px;
    border: 0;
    background-color: #2a272276;
}

.nav__inner {
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF4EB;
    margin: 0 15px;
}

.nav__link:hover {
    text-decoration: underline 2px solid;
}

.header__intro {
    display: flex;
    position: relative;
}


.intro__title {
    margin-top: 84px;
    width: 300px;
    font-size: 67px;
}

.defies__color {
    color: #DB9F6A;
}

.intro__big {
    margin-top: 35px;
}

.intro__btn {
    border-radius: 6px;
    margin: 40px 12px;
    width: 218px;
    height: 49px;
    border: 1px;
    background: url(images/intro-btn.png);
    /* background-color: #DB9F6A; */
    position: relative;
    border: 1px;
}

.btn__text {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
}

.intro__btn :hover {
  cursor: pointer;
}


.work__time {
  display: flex;
}

.day__time {
  display: flex;
  margin-bottom: 6px;
  margin-left: 14px;
}

.day {
margin-right: 6px;
color: #DB9F6A;
}

.intro__big {
    margin-left: 80px;
    transform: translate(0px, 4px);
}

.intro__line {
    width: 100%;

    height: 97px;
    background-color: #2a27228e;
    position: absolute;
    left: 0;
}


.partner__logo {
    margin: 33px 38px;
}





.background__action {
    transform: translate(0px, 96px);
    position: absolute;
}

.action {
    position: relative;
    transform: translate(0px, 96px);
    display: flex;
    width: 910px;
    justify-content: space-between;
}

.action__col {
    width: 33.33333%;
    width: 290px;
    height: 480px;
    justify-content: space-between;
}

.action__item {
    margin: 31px;
}

.action__title {
    font-size: 36px;
    margin-bottom: 8px;

}

.action__img {
    /* position: absolute; */
    margin-left: 12px;
}


.action__item2 {

}


.gorilla {
    background-color: #FFF4EB;
    width: 290px;
    height: 194px;
    border-radius: 19px;
    margin-bottom: 66px;
}


.snake {
    background-color: #FFF4EB;
    width: 290px;
    height: 220px;
    border-radius: 19px;
    /* margin: 19px 20px 0 34px; */
}

.gorilla__img {
    transform: translate(64%, 19%);
}

.snake__img {
    transform: translate(69%, 10%);
}

.price {
    font-size: 25px;
    color: #000;
    margin-left: 185px;
}
.price__2 {
    margin-top: -15px;
}



.col3__inner {

}

.tattoo {

}

.title__h2 {
  font-size: 37px;
  margin: 31px 31px 0 31px;

}

.subtitle__h3 {
  margin: 15px 31px;
  font-size: 10px;
}

.col3__btn {
  margin-left: 31px;
}

.btn__cont {
  font-size: 11px;
  padding: 12px 20px;
  border-radius: 7.2px;
  border: 0;
  background-color: #DB9F6A;
  letter-spacing: 1px;
}

.btn__cont:hover {
  cursor: pointer;
  background-color: #fff;

}

.title__section {
  margin-top: -150px;

}

.title__client {
  text-align: center;
}

.clients__view {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.clients__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client__photo {
margin: 42px 7px 19px 7px;
}

.view {
  width: 600px;
  height: 136px;
  background-color: #1E1C17;
  border-radius: 19.16px;
  border: 0;
}

.view__inner {
  margin: 18px 31px;

}

.view__name h2 {
  font-size: 19px;
}

.view__text {
  margin-top: 22px;
}

.view__text h3 {
  font-size: 11px;
}

.view__btn {
  display: flex;
  justify-content: space-between;
}

.btn__view {
  background-color: #DB9F6A;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 0;
}

.view__btn {
  width: 750px;
  margin-left: -75px;
}

.title__faq {
  margin-top: 96px;
}

.question {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.question__title {

  display: flex;
  justify-content: space-between;
  font-size: 14px;
  text-transform: uppercase;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 2px solid #ffffff46;
  align-items: center;
}

.question__answer {
  display: none;
  line-height: 25px;
  font-size: 12px;
}

.question__list {
  border-bottom: 2px solid #ffffff46;
  padding-bottom: 20px;
}


.active {
  display: contents;
}

.question__list {
  margin: 0;
  padding-left: 20px;
}

.question__btn {
  color: #fff;
  background-color: #ffffff00;
  border: 0;
}


.footer {
  background: url(images/background.png);
  height: 376px;
}

.subscribe {
  margin-top: 250px;
  margin-left: 110px;
}

.subscribe__inner {
  display: flex;
  margin-top: -180px;
  margin-left: 200px;
}

.subscribe__title {
  color: #12100C;
  font-size: 38px;
  width: 210px;
}

.subscribe__title__inner {
  margin-left: 38px;
}

.subscribe__title {
margin-bottom: 20px;
}

.subscribe__input {
  width: 206px;
  height: 39px;
  padding: 0;
  margin: 0;
  border-radius: 7.19px;
  border: 0;
  background-color: #F2E4DA;
  color: #483524;
}

.subscribe__btn {
  height: 39px;
  width: 107px;
  border-radius: 7.19px;
  border: 0;
  background-color: #DB9F6A;
  color: #483524;
  margin-left: -40px;
}

.subscribe__btn:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.footer__middle {
  background-color: #1E1C17;
}

.container__footer {
  width: 910px;
  height: 333px;
  margin: 0 auto;
}

.container__footer__inner {
  margin-top: 150px;
  display: flex;
  align-items: center;
}

.footer__img {
margin-right: 160px;
}

.footer__list {
  padding-left: 31px;
  margin-right: 100px;
  border-left: 2px solid #DB9F6A;
}

.footer__list1 {
  border-left: 2px solid #DB9F6A;
  padding-left: 31px;
}

.link__services {
  text-decoration: none;
  color: #FFF4EB;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link__services:hover {
  cursor: pointer;
  color: #DB9F6A;
}

.sociable {
  margin-left: 330px;
}

.sociable a{
  text-decoration: none;
  color: #DB9F6A;
  font-size: 20px;
}

.sociable__link:hover {
color: #fff
}

.footer__bottom {
  font-size: 10px;
  color: #FFF4EB;
  border-top: 1px solid #db9f6a4d;
  margin-top: 37px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.last {
  color: #fff4eb63;
}

.bottom__text{
  display: flex;
}

.bottom__text h3 {
  margin-right: 31px;
}
















